<launch>
    <!-- <arg name="device" default="/dev/video0" />
    <node name="main_camera" pkg="cv_camera" type="cv_camera_node" output="screen">
        <remap from="image_raw" to="main_camera/image_raw" />
        <param name="device_id" value="$(arg device)" />
        <param name="image_width" value="320" />
        <param name="image_height" value="240" />
        <param name="rate" value="18" />
    </node> -->
        <node pkg="ior2020_copter_vision" type="team_name_cam.py" name="team_name_cam" output="screen" clear_params="true"/>
    
</launch>